/* Start banner section */

.banner {}

.banner-content {
    padding: 0 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: gray;
}

.carousel-indicators li {
    background: #CECECE;
    width: 15px;
    height: 10px;
    border: none;
    border-radius: 15px;
}

.carousel-indicators li.active {
    background-image: linear-gradient(to right, #FF9C35, #FFD019);
    width: 45px;
}

.buy-now-button {
    background-color: black;
    color: white;
    border-radius: 8px;
}

/* Start product section */
.card-footer {
    border: none;
    background-color: white;
}

.card {
    padding: 2%;
    border-radius: 8px;
    border: none;
    box-shadow: 3px 3px 5px gray;
}

.card:hover,
.single-cat-left:hover,
.single-cat-right:hover {
    box-shadow: none;
}

.product-title {
    padding-top: 4%;
}

.product-title h6 {
    color: orange;
}

.cat-heading {
    text-align: center;
    padding-top: 5%;
}

.category hr {
    width: 100px;
    background: linear-gradient(to right, #FF9C35, #FFD019);
    height: 8px;
    border-radius: 10px;
    border: none;
}

.single-cat-right {
    border-radius: 10px 0px 15px 0px;
    box-shadow: 2px 2px 8px gray;
    padding: 10%;
    margin: 5% 0;
}

.single-cat-left {
    border-radius: 0px 10px 0px 15px;
    box-shadow: 2px 2px 8px gray;
    padding: 10%;
    margin: 5% 0;
}